
@model IEnumerable<Stilosoft.Model.Entities.AbonoCompra>


@{
    ViewData["Title"] = "AbonoCompra";
    Layout = null;
}
<section class="content">
    <p>
        @if (@ViewBag.ValorFinalAbonoCompra == 0)
        {
            <div>
                <h3>PAGO COMPLETADO</h3>
            </div>
        }
        else
        {
            <a onclick="mostrarModalS('@Url.Action("AgregarAbonoCompra","AbonoCompra",new {id = @ViewBag.IdCompra},Context.Request.Scheme)','Abono Compra')" class="btn btn-success"> Agregar abono</a>
        }

        <strong>Valor total a pagar: </strong>@ViewBag.ValorFinalCompra
        |
        <strong>Cuotas en total: </strong>@ViewBag.CuotasTotal
        |
        <strong>Cantidad minima de abono: </strong>@ViewBag.CantidadAbono
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ValorInicial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuotas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantAbono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorFinal)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var PrecioFijo = item.Compra.Cuotas;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorInicial)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Cuotas)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantAbono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorFinal)
                    </td>
                    <td>
                        <form asp-action="EliminarAbono" asp-route-id="@item.AbonoCompraId" onclick="return  DeleteConfirm()" href="/Productos/index/@item.AbonoCompraId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar Abono?');"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error"))
{<text>
        Swal.fire({
        title: "Error",
        icon: 'error',
        html: "@TempData["Mensaje"]"
        });
</text>
}

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Agregar")) { <text>
                  alertify.alert('Agregar abono', '@TempData["Mensaje"]', function () { alertify.success('Abono Agregado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EliminarAbono")) { <text>
        alertify.alert('Eliminar abono', '@TempData["Mensaje"]', function () { alertify.error('Abono eliminado'); });
                 </text>
        }
    </script>
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("¿Quieres Eliminar el Abono?"))
                return true;
            else
                return false;
        }
    </script>

}
