@model IEnumerable<Stilosoft.Model.Entities.AbonoCompra>

@{
    ViewData["Title"] = "AbonoCompra";
}
<br />
<hr>
<section class="content">
    <p>
        <a asp-action="AgregarAbonoCompra" asp-route-Id="@ViewBag.IdCompra" class="btn btn-success"> Agregar abono</a>
    </p>

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Compra.PrecioTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra.Cuotas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantAbono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioTotal)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var MontoAPagar = item.Compra.PrecioTotal - item.MontoAbonado;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compra.PrecioTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuotas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantAbono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioTotal)
                    </td>
                    <td>
                        <form asp-action="EliminarAbono" asp-route-id="@item.AbonoCompraId" onclick="return  DeleteConfirm()" href="/Productos/index/@item.AbonoCompraId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar usuario?');"></i></button>
                        </form>
                    </td>
                </tr>
                break;
             <tr>
           
                var MontoAPagar = item.Compra.PrecioTotal - item.MontoAbonado;
                <th>Monto facturado: @Html.DisplayFor(modelItem => item.Compra.PrecioTotal)</th>
                <th>
                    Monto abonado: @Html.DisplayFor(modelItem => item.MontoAbonado)
                </th>
                <th>
                    Monto a pagar: @Html.DisplayFor(modelItem => MontoAPagar)
                </th>
                <th>
                    Cuotas: @Html.DisplayFor(modelItem => item.Cuotas)
                </th>
            
        </tr>
             }
            </tbody>
        </table>
</section>

@if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error"))
{<text>
        Swal.fire({
        title: "Error",
        icon: 'error',
        html: "@TempData["Mensaje"]"
        });
</text>
}

