@model IEnumerable<Stilosoft.Model.Entities.AbonoCompra>

@{
    ViewData["Title"] = "AbonoCompra";
    Layout = null;
}
<section class="content">
    <p>
        <a onclick="mostrarModalS('@Url.Action("AgregarAbonoCompra","AbonoCompra",new {id = @ViewBag.IdCompra},Context.Request.Scheme)','Abono Compra')" class="btn btn-success"> Agregar abono</a>
    </p>

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Compra.DetalleCompras.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra.Cuotas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantAbono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioTotal)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compra.DetalleCompras.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuotas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantAbono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioTotal)
                    </td>
                    <td>
                        <form asp-action="EliminarAbono" asp-route-id="@item.AbonoCompraId" onclick="return  DeleteConfirm()" href="/Productos/index/@item.AbonoCompraId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar usuario?');"></i></button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>

@if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error"))
{<text>
        Swal.fire({
        title: "Error",
        icon: 'error',
        html: "@TempData["Mensaje"]"
        });
</text>
}
@section Scripts{


    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>

}
