@model IEnumerable<Stilosoft.Model.Entities.Proveedor>

@{
    ViewData["Title"] = "Proveedor";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a asp-action="index" asp-controller="Proveedores" class="btn btn-secondary btn-lg mr-md-4">Proveedores</a>
            <a asp-action="index" asp-controller="Insumos" class="btn btn-primary btn-lg mr-md-4">Insumos</a>
            <a asp-action="index" asp-controller="Compras" class="btn btn-primary btn-lg mr-md-4">Compras</a>
        </div>
    </div>
</div>
<hr>
<section class="content">
    <p>
        <a onclick="mostrarModalS('@Url.Action("Crear","Proveedor","null",Context.Request.Scheme)','Registrar proveedor')" class="btn btn-success"> Agregar Proveedor</a>
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonoContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoContacto)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.ProveedorId">
                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                            </form>
                        }
                        else if (item.Estado == false)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.ProveedorId">
                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                            </form>
                        }
                    </td>
                    <td>
                        <a onclick="mostrarModalS('@Url.Action("Editar","Proveedor", new {id = item.ProveedorId}, Context.Request.Scheme)', 'Editar estilista')" class="btn btn-dark"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
        alertify.alert('Guardar proveedor', '@TempData["Mensaje"]', function () { alertify.success('proveedor guardado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar proveedor', '@TempData["Mensaje"]', function () { alertify.success('Proveedor editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar")) { <text>
        alertify.alert('Eliminar proveedor', '@TempData["Mensaje"]', function () { alertify.error('Proveedor eliminado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstado")) { <text>
        alertify.success('Estado cambiado correctamente.');
                 </text>
        }
    </script>

}