@model IEnumerable<Stilosoft.Model.Entities.Estilista>

@{
    ViewData["Title"] = "Estilista";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a href="#" class="btn btn-primary btn-lg mr-md-4">Productos</a>
            <a asp-action="index" asp-controller="Estilistas" class="btn btn-secondary btn-lg mr-md-4">Estilistas</a>
            <a asp-action="index" asp-controller="Servicios" class="btn btn-primary btn-lg mr-md-4">Servicios</a>
            <a href="#" class="btn btn-primary btn-lg">Programación agenda</a>
        </div>
    </div>
</div>
<hr>
<section class="content">
    <p>
        <a asp-action="Crear" class="btn btn-success"> Registrar estilista</a>
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @( DateTime.Now.Year - item.FechaNacimiento.Year )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.EstilistaId">
                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                            </form>
                        }
                        else if (item.Estado == false)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.EstilistaId">
                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                            </form>
                        }
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.EstilistaId" class="btn btn-dark"><i class="fas fa-pencil-alt"></i></a>
                        <form asp-action="Eliminar" asp-route-id="@item.EstilistaId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>



@section Scripts{

    <script src="~/js/tabla.js"></script>

    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
                  alertify.alert('Guardar estilista', '@TempData["Mensaje"]', function () { alertify.success('Estilista guardado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar estilista', '@TempData["Mensaje"]', function () { alertify.success('Estilista editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar")) { <text>
        alertify.alert('Eliminar estilista', '@TempData["Mensaje"]', function () { alertify.error('Estilista eliminado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstado")) { <text>
        alertify.success('Estado cambiado correctamente.');
                 </text>
        }
    </script>

}