@model Stilosoft.Business.Dtos.Cita.CitaDetalleEstilistaDto

@{
    ViewData["Title"] = "CitaDetalleEstilistas";
    Layout = null;
}

<br />
<div class="container-fluid">
    <form asp-action="CitaDetalleEstilistas" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <table class="table" id="tabla">
                    <thead>
                        <tr>
                            <th>
                                Servicio
                            </th>
                            <th>
                                Costo
                            </th>
                            <th>
                                Estilista
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Estilistas.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(s => s.Estilistas[i].CitaId)
                                @Html.HiddenFor(s => s.Estilistas[i].ServicioId)
                                @Html.HiddenFor(s => s.Estilistas[i].DetalleCitaId)
                                @Html.HiddenFor(s => s.Estilistas[i].NombreServicio)
                                @Html.HiddenFor(s => s.Estilistas[i].CostoServicio)
                                <td>
                                    @Html.DisplayFor(s => s.Estilistas[i].NombreServicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(s => s.Estilistas[i].CostoServicio)
                                </td>
                                <td>
                                    <select id="Estilistas" asp-items="ViewBag.Estilistas" asp-for="Estilistas[i].EstilistaId" class="form-control"></select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("Estilistas").selectedIndex = -1;
    </script>

    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
    </script>
}