@model IEnumerable<Stilosoft.Model.Entities.Insumo>

@{ ViewData["Title"] = "Insumos"; }
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a asp-action="Index" asp-controller="Proveedor" class="btn btn-primary btn-lg mr-md-4">Proveedores</a>
            <a asp-action="Index" asp-controller="Insumo" class="btn btn-secondary btn-lg mr-md-4">Insumos</a>
            <a asp-action="Index" asp-controller="Compras" class="btn btn-primary btn-lg mr-md-4">Compras</a>
        </div>
    </div>
</div>
<hr>
<section class="content">
    <p>
        <a onclick="mostrarModalS('@Url.Action("CrearInsumo","Insumo","null",Context.Request.Scheme)','Registrar insumo')" class="btn btn-success"> Registrar insumo</a>
        <!-- <a asp-action="CrearInsumo" class="btn btn-success"> Registrar insumo</a>-->
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medida)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.InsumoId">
                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                            </form> }
                        else if (item.Estado == false)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.InsumoId">
                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                            </form>}
                    </td>
                    <td>
                        <a onclick="mostrarModalS('@Url.Action("EditarInsumo","Insumo",new {Id = item.InsumoId },Context.Request.Scheme)','Editar insumo')" class="btn btn-dark"><i class="fas fa-pencil-alt"></i></a>
                        <!--<a asp-action="EditarInsumo" asp-route-id="@item.InsumoId" class="btn btn-dark"><i class="fas fa-pencil-alt"></i></a>-->
                        <!--<form asp-action="EliminarInsumo" asp-route-id="@item.InsumoId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>-->
                        <form asp-action="EliminarInsumo" asp-route-id="@item.InsumoId" onclick="return  DeleteConfirm()" href="/Compras/Index/@item.InsumoId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar insumo?');"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("¿Quieres eliminar el insumo?"))
                return true;
            else
                return false;
        }
    </script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
        alertify.alert('Crear insumo', '@TempData["Mensaje"]', function () { alertify.success('Insumo creado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]');
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar insumo', '@TempData["Mensaje"]', function () { alertify.success('Insumo editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar")) { <text>
        alertify.alert('Eliminar insumo', '@TempData["Mensaje"]', function () { alertify.error('Insumo eliminado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstado")) { <text>
        alertify.success('Estado cambiado correctamente.');
                 </text>
        }
    </script>

    </script>
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("¿Quieres Eliminar el Registro?"))
                return true;
            else
                return false;
        }
    </script>
}