@model IEnumerable<Stilosoft.Model.Entities.Insumo>

@{
    ViewData["Title"] = "Insumos";
}

<section class="content">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Insumos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="Insumos">Inicio</a></li>
                    <li class="breadcrumb-item active">Insumos</li>
                </ol>
            </div>
        </div>
        <p>
            <a href="#" class="btn btn-success"> Registrar insumo</a>
        </p>
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Medida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Medida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section Scripts{

    <script src="~/js/tabla.js"></script>


}