@model IEnumerable<Stilosoft.Model.Entities.DetalleCompra>

@{
    ViewData["Title"] = "Detalle de la Compra";
    Layout = null;
}

    <section class="content">
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Costo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Iva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        Acciones
                    </th>

                </tr>
            </thead>
            <tbody>
                @{ double totalCompra = 0;}
                @foreach (var item in Model)
                {
                    long subtotal = item.Cantidad * item.Costo;
                    double iva = item.Iva * 0.01;
                    double subtotal2 = subtotal * iva;
                    double total = subtotal + subtotal2;
                    totalCompra += total;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Iva)%
                        </td>
                        <td id="total">
                            @Html.DisplayFor(modelItem => total)
                        </td>
                        <td>
                            <form asp-controller="Compras" asp-action="EliminarDetalle"  asp-route-id="@item.DetalleCompraId" onclick="return  DeleteConfirm()"  class="d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar compra?');"></i></button>
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="7">
                        Total de la compra: @(totalCompra)
                    </td>
                </tr>
            </tbody>
        </table><br />
        <p id="mostrarTotal"></p>
    </section>

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
        alertify.alert('Agregar producto', '@TempData["Mensaje"]', function () { alertify.success('Producto agregado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar producto', '@TempData["Mensaje"]', function () { alertify.success('Producto editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar")) { <text>
        alertify.alert('Eliminar producto', '@TempData["Mensaje"]', function () { alertify.error('Prodcuto eliminado'); });
                 </text>
        }

    </script>
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("¿Quieres eliminar la compra?"))
                return true;
            else
                return false;
        }
    </script>
}
