@model IEnumerable<Stilosoft.Model.Entities.DetalleCompra>

@{
    ViewData["Title"] = "Detalle de la Compra";
}
<form asp-route-id="@ViewBag.IdCompra">
    <section class="content">

        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Costo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Iva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    long subtotal = item.Cantidad * item.Costo;
                    long iva = item.Iva /100;
                    long subtotal2 = subtotal * iva;
                    long total = subtotal + subtotal2;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => iva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => total)
                        </td>
                       <!-- <td>
                            <a onclick="mostrarModalS('@Url.Action("EditarDetalle","Compras", new {id = item.DetalleCompraId}, Context.Request.Scheme)', 'Editar detalle')" class="btn btn-dark"><i class="fas fa-pencil-alt"></i></a>
                            <form asp-action="Eliminar" asp-route-id="@item.DetalleCompraId" class="d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>-->
                    </tr>
                }
            </tbody>
        </table>

    </section>
</form>
    @section Scripts{

        <script src="~/js/tabla.js"></script>
        <script src="~/js/modals.js"></script>
        <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
        alertify.alert('Agregar producto', '@TempData["Mensaje"]', function () { alertify.success('Producto agregado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar producto', '@TempData["Mensaje"]', function () { alertify.success('Producto editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar")) { <text>
        alertify.alert('Eliminar producto', '@TempData["Mensaje"]', function () { alertify.error('Prodcuto eliminado'); });
                 </text>
        }
       
        </script>
    }
