@model IEnumerable<Stilosoft.Model.Entities.Compra>

@{
    ViewData["Title"] = "Compras";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a asp-action="Index" asp-controller="Proveedor" class="btn btn-primary btn-lg mr-md-4">Proveedores</a>
            <a asp-action="Index" asp-controller="Producto" class="btn btn-primary btn-lg mr-md-4">Insumos</a>
            <a asp-action="Index" asp-controller="Compras" class="btn btn-secondary btn-lg mr-md-4">Compras</a>
        </div>
    </div>
</div>
<hr>
<section class="content">
    <p>
        <a onclick="mostrarModalG('@Url.Action("CrearCompra","Compras","null",Context.Request.Scheme)','Registrar compra')" class="btn btn-success"> Registrar compra</a>
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProveedorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFactura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoFactura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormaPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicioPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuotas)
                </th>
                <th>
                    Factura
                </th>
                <th>
                    Agregar<br />Productos
                </th>
                <th>
                    Detalle
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFactura.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormaPago)
                    </td>
                    @if (item.FormaPago == "Contado")
                    {
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicioPago.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRegistro.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cuotas)
                        </td>
                    }
                    
                    <td>
                        @if (item.RutaImagen != null)
                        {
                            //<img src="@("~/imagenes/" + item.RutaImagen)" asp-append-version="true" class="img w-25 h-25" />
                            <a onclick="mostrarModalG('@Url.Action("mostrarFactura","Compras", new {rutaImagen = item.RutaImagen}, Context.Request.Scheme)', 'Factura')" class="btn btn-secondary"><i class="fas fa-image"></i></a>
                        }
                    </td>
                    <td>
                        <a onclick="mostrarModalG('@Url.Action("CrearDetalle","Compras", new {id = item.CompraId}, Context.Request.Scheme)', 'Agregar producto a la compra')" class="btn btn-info"><i class="fas fa-plus"></i></a>
                    </td>
                    <td>
                        <a asp-action="DetalleIndex" asp-controller="Compras" asp-route-id="@item.CompraId" class="btn btn-dark"><i class="far fa-file-alt"></i></a>
                    </td>
                    <td>
                        <a onclick="mostrarModalG('@Url.Action("Index","AbonoCompra", new {id = item.CompraId}, Context.Request.Scheme)', 'Abono Compra')" class="btn btn-dark"><i class="fas fa-coins"></i></a>
                        <form asp-action="EliminarCompra" asp-route-id="@item.CompraId" onclick="return  DeleteConfirm()" href="/Compras/Index/@item.CompraId" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclientclick="return confirm('¿Confirma eliminar compra?');"></i></button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</section>

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
    @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear"))
    {<text>
            alertify.alert('Guardar compra', '@TempData["Mensaje"]', function () { alertify.success('Compra guardada'); });
    </text>
}
    @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error"))
    {<text>
            alertify.alert('Error', '@TempData["Mensaje"]');
    </text>
}
    @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Eliminar"))
    {<text>
        alertify.alert('Eliminar compra', '@TempData["Mensaje"]', function () { alertify.error('Compra eliminada'); });
    </text>
}
    @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Agregar")) { <text>
                  alertify.alert('Agregar abono', '@TempData["Mensaje"]', function () { alertify.success('Abono Agregado'); });
                 </text>
        }    
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EliminarAbono")) { <text>
        alertify.alert('Eliminar abono', '@TempData["Mensaje"]', function () { alertify.error('Abono eliminado'); });
                 </text>
        }

    </script>
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("¿Quieres eliminar la compra?"))
                return true;
            else
                return false;
        }
    </script>
}

